/* Home.css */
.latest-collection {
    display: flex;
    flex-direction: row;
    margin: 40px 200px;
    border: 2px solid #000;
}

.home-container {
    width: 50%;
}

.latest-left {
    width: 50%;
    text-align: center;
    align-content: center;
} 

h1 span {
    color: #aaae7f;
}

p span {
    content: url('../assets/shopnow.png');
    height: 10px;
    width: 30px;
}

.carousel img {
    height: 400px; /* Adjust the height to match your layout */
    object-fit: contain;/* Ensure the image covers the entire carousel area */
    background-color: rgb(0 , 0, 0, 0);
}

/* Home.css */

/* Remove background and change the color of Previous button icon */
.carousel-control-prev {
    background-color: transparent; /* Remove background color */
  }
  
  .carousel-control-prev-icon {
    background-image: none; /* Remove the default background icon */
    border: none; /* Ensure no border */
    border-radius: 50%;
    content: url('../assets/prev.png'); /* Custom black icon */
    filter: invert(0%); /* Ensures the icon is black (if you use a default arrow icon) */
  }
  
  /* Remove background and change the color of Next button icon */
  .carousel-control-next {
    background-color: transparent; /* Remove background color */
  }
  
  .carousel-control-next-icon {
    background-image: none; /* Remove the default background icon */
    border: none; /* Ensure no border */
    border-radius: 50%;
    content: url('../assets/next.png'); /* Custom black icon */
    filter: invert(0%); /* Ensures the icon is black (if you use a default arrow icon) */
  }
  

  /* Best Sellers */
  .bestsellers h1 {
    text-align: center;
  }